

<footer class="footer " style="position: fixed; left: 0; bottom: 0; width: 100%; z-index: 1030;">
    <div class="container text-center">
        <span class="text-muted">Alpha Blog &copy; 2023</span>
    </div>
</footer>